Team7Sandbox/force-app/main/default/flows/Donation_Success_Fail_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Donation_Email_A</name>
        <label>Error Donation Email A</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.Error_Donation_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Success_Email_to_Donor</name>
        <label>Success Email to Donor</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.Donor_Success_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Donation Status is Changed?</description>
        <name>Donation_Status_is_Changed</name>
        <label>Donation Status is Changed?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Successfull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Email_to_Donor</targetReference>
            </connector>
            <label>Payment Successfull</label>
        </rules>
        <rules>
            <name>Payment_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Donation_Email_A</targetReference>
            </connector>
            <label>Payment Failed</label>
        </rules>
    </decisions>
    <description>Donation payment notification email alert</description>
    <environments>Default</environments>
    <interviewLabel>Donation Send {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Donation Success /  Fail Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Donation_Status_is_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Donor_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Success2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Dear {{{Opportunity.Donor_First_Name__c}}}

Thank you so much for your donation. Please find the below details:

Campaign : {{{Opportunity.Campaign_Name__c}}}

Donation Amount : {{{Opportunity.Amount}}}

Donation Date : TODAY()
 

Regards
School Board
&lt;/pre&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
