Team7Sandbox/force-app/main/default/flows/Donation_Campaign_Before.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Record.Achieved_Donation_Amount__c &gt;= Record.Target_Donation_Amount__c</description>
        <name>Achieved_vs_Target</name>
        <label>Achieved vs Target</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Achieved_Target</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Achieved_Donation_Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Target_Donation_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Donation_Campaign</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Achieved &gt;= Target</label>
        </rules>
    </decisions>
    <description>Create a before record trigger flow, when A record is updated putting the condition as “Record.Achieved_Donation_Amount__c &gt;= Record.Target_Donation_Amount__c” with condition “Only when a record is updated to meet the condition requirements” then we will do Fast field update 
Campaign_Completion_Date__c = Today
Status = Completed</description>
    <environments>Default</environments>
    <interviewLabel>Donation Campaign Before {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Donation Campaign Before</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Donation_Campaign</name>
        <label>Update Donation Campaign</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Campaign_Completion_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Achieved_vs_Target</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
